﻿body {
	font-size:24px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif,黑体;
	color: #000000;
	margin-top:0;
	margin-left:0;
}
table {
	
	font-size:24px; 
	font-weight:bold; 
	font-family: 黑体;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: none;
}