*{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
html,body {
    color: #3d3d3d;
    background: #fefefe;
    font-size: 100%;
}
header,nav,aside,section,article {
    display:block;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
	font-style: inherit;
	font-weight: inherit;
}
del, ins {
	text-decoration: none;
}
li {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: baseline;
}
sub {
	vertical-align: baseline;
}
legend {
	color: #000;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
input, button, textarea, select {
	*font-size: 100%;
}

.clear {
	clear: both;
}
.fadeFromBottom div{
	text-shadow : 0 1px 0 #000;
}
a{
	text-decoration: none;
	color:#2373A5;
}

/* details */
#contentWrapper{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#contentScroller{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
.shotWarp{
    text-align: center;
    margin-top: 1em;
    overflow: hidden;
}

.appshots{
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
#slider{
    overflow: hidden;
}
.appshots ul{
    display: inline-block;
    font-size: 0px;
}
.appshots ul li{
    float: left;
    overflow: hidden;
    font-size: 0px;
    text-align: center;
}
.appshots ul li img{
    display: inline-block;;
}
.appshotsBig{
    display: none;
    position: relative;
    overflow: hidden;
    z-index: 99;
}
.appshotsBig ul{
    float: left;
}
.appshotsBig ul li{
    float: left;
    overflow: hidden;
    font-size: 0px;
}
.camera_pag .camera_pag_ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.camera_pag .camera_pag_ul li {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 5px 5px 0px 5px;
    position: relative;
    text-align: left;
    text-indent: -9999px;
    width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
    -moz-box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_pag .camera_pag_ul li > span {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 8px;
    left: 4px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 8px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
    -moz-box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_pag .camera_pag_ul li.cameracurrent > span {
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.camera_pag_ul li img {
    display: none;
    position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    top: 0;
    left: 50%;
    margin-left: -4px;
    position: absolute;
}
.camera_pag .camera_pag_ul li {
    background: #b7b7b7;
}
.camera_pag .camera_pag_ul li:hover > span {
    background: #b7b7b7;
}
.camera_pag .camera_pag_ul li.cameracurrent > span {
    background: #434648;
}
.camera_pag_ul li img {
    border: 4px solid #e6e6e6;
    -moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
    box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.camera_pag .camera_pag_ul li {
    background: #b7b7b7;
}
.articleTitle {
    margin: 0.6em 2em 0 2em;
	padding: 1.6em 0 0.8em 0;
    background: url(../images/sp_bg.gif) top repeat-x;
    line-height: 1.5em;
}
.articleTitle span{
    font-size: 1.8em;
    line-height: 1.5em;
}
.articleTitle h1 {
	font-weight: bold;
    font-size: 1.9em;
	display: inline-block;
	text-shadow: 0 1px 0 #295B8E;
	padding: 0px 4px;
	margin: 0 5px 0 0;
}
ul.iconList{
	margin-bottom:1.6em;
}
ul.iconList li {
	display: inline-block;
    font-size: 0px;
}
ul.iconList li a {
	display: block;
	text-align: center;
	font-weight: bold;
	color: #5393C5;
    font-size: 22px;
}
ul.iconList li a.glass {
    width: 96px;
    height: 96px;
    display: block;
    background: url(../images/glass.png) no-repeat center;
    margin: 0 auto;
}
ul.iconList li a.appname {
	color: #fff;
	font-weight: bold;
	display: block;
	text-shadow: 0 1px 0 #434648;
	background: #434648;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 0px 1px;
	width: 94px;
    margin: 0 auto;
}
ul.iconList li a img{
	width: 84px;
	height: 84px;
    margin: 6px;
	overflow: hidden;
}

/* comments */
.comment{
    min-height: 80px;
}
.comment img.thumb{
    top:10px;
    left:10px;
}
#listWrapper {
    position:absolute;
    z-index:1;
    top:0px;
    bottom:0px;
    left:0px;
    width:100%;
    background:#aaa;
    overflow:auto;
}
#listScroller {
    position:absolute;
    z-index:1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}
#listScroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}
#listScroller li {
    padding:0 10px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    background-color:#fafafa;
    font-size:14px;
}
#listPullUp {
    background:#fff;
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
}
#listPullUp .pullUpIcon  {
    display:block; float:left;
    width:40px; height:40px;
    background:url(../images/pull-icon.png) 0 0 no-repeat;
    -webkit-background-size:40px 80px;
    background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
}
#listPullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}
#listPullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
#listPullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}

/* HUD Messages */
.hudmsg {
	width: 160px;
	padding: 20px;
	color: #eee;
	background: rgba(0, 0, 0, 0.7);
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	position: fixed;
	bottom: 40px;
	left: 50%;
	margin-left: -100px;
	z-index: 1000;
	text-shadow: 0 1px 1px #000;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.hudmsg img {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

.overlay{
    display: none;
    width: 100%;
    background: #000;
    opacity: 0.45;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
}

/* png animation */
@-webkit-keyframes loading{
0%{
        -webkit-transform: rotate(0deg);
    }
50%{
        -webkit-transform: rotate(180deg);
    }
100%{
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes loading{
0%{
        -moz-transform: rotate(0deg);
    }
50%{
        -moz-transform: rotate(180deg);
    }
100%{
        -moz-transform: rotate(360deg);
    }
}
.loading{
    -webkit-transform-origin: center center;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-transform-origin: center center;
    -moz-animation-name: loading;
    -moz-animation-duration: 1.2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}